h1
{
      background-color:#99FF99;
	  color:#990066;
}

#id1
{
         background-color:
		  #CCCCCC; font-size:22px;
		   color:#FFFFFF; 
		   font-weight:bolder;
		    font-family:algerian;
			width:50%;
			float:left;
}

.class1
{
         background-color:
	     #00FFFF; 
	     font-size:22px;
	     color:#FFFF99;
	     font-weight:bolder; 
		 font-family:algerian;
		 width:50%;
		 float:left;
}